.root-about {
    padding-inline-end: 40px;
    padding-inline-start: 40px;
}

.heroContainer-about {
    margin-top: 75px;
}

.hero-about {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.hero-about p,
.hero-about h3 {
    margin: 0;
    font-size: 1.5em;
}

.hero-about p,
.heroContainer-about p {
    font-size: 1.4em;
    max-width: 70%;
}

.hero-about h3 {
    font-size: 2em;
}