/* FADE IN ANIMATION */

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

/* COLOR ANIMATION */  
.wrapper-app {
	background: linear-gradient(-45deg, #a5f1f2, #a5f1f2, #c7d0fe, #ffbac2, #fed7b3, #fed7b3);
	background-size: 200% 200%;
	animation: gradient 10s ease infinite;
}

.root-app {
    background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
    position: relative;
    left: 0;
    right: 0;
    height: 60vh; /* Height of the effect */
    padding-inline-end: 60px;
    padding-inline-start: 60px;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navHero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    margin-bottom: 200px;
}