.root-creative-page {
    padding-inline-end: 60px;
    padding-inline-start: 60px;
    max-width: 1400px;
    margin: auto;
}

.creativePageHeader {
    margin: 50px 0;
}

.creativePageHeader p {
    font-size: 1.2em;
}

.fade-in-section > h2 {
    margin-top: 50px;
}

/* Youtube Embed */

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    display: flex;
    align-items: center;
}
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: none;
    border-radius: 15px;
}

/* Graphic design */

.graphic {
    border-radius: 15px;
    width: 100%;
}

/* Screenwriting */

.gpdbtContainer {
    display: flex;
    justify-content: center;
}

.gpdbtLogo {
    width: 50%;
    border-radius: 15px;
}

.pdfView {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 15px;
}


@media only screen and (max-width: 810px) {
    .root-creative-page {
        padding-inline-end: 0px;
        padding-inline-start: 0px;
    }

    .gpdbtLogo {
        width: 100%;
    }

    .creativePageHeader {
        margin-top: 20px;
    }
}