/*styles that apply to all individual project pages*/
.root-project-page {
    padding-inline-end: 60px;
    padding-inline-start: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.description {
    display: flex;
    justify-content: space-between;
}

.container p {
    max-width: 70%;
    margin-top: 0;
}

.project-external {
    display: flex;
    flex-direction: column;
}

.project-external a {
    text-decoration: none;
    color: black;
}

.project-external a:hover {
    text-decoration: underline;
}

.builtWith {
    margin-bottom: 30px;
}

.sideByside {
    display: flex;
    gap: 1%;
    margin: 10px 0;
}

.image-1,
.image-2,
.image-3,
.image-4 {
    border-radius: 15px;
    max-width: 100%;
}

.sideByside img {
    max-width: 49.5%;
}