/*styles that apply to all individual project pages*/
.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.description {
    display: flex;
    justify-content: space-between;
}

.container p {
    max-width: 70%;
    margin-top: 0;
}

.project-external {
    display: flex;
    flex-direction: column;
}

.project-external a {
    text-decoration: none;
    color: black;
}

.project-external a:hover {
    text-decoration: underline;
}