/*styles that apply to all individual project pages*/
.root-project-page {
    padding-inline-end: 60px;
    padding-inline-start: 60px;
    max-width: 1400px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.description {
    display: flex;
    justify-content: space-between;
}

.container p {
    max-width: 70%;
    margin-top: 0;
    font-size: 1.2em;
}

.project-external {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.project-external a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.2em;
}

.builtWith {
    margin-bottom: 30px;
}

.sideByside {
    display: flex;
    gap: 1%;
    margin: 10px 0;
}

.image-1,
.image-2,
.image-3,
.image-4 {
    border-radius: 15px;
    max-width: 100%;
    border: 1px solid lightgrey;
}

.sideByside img {
    max-width: 49.5%;
}

@media (hover:hover) {
    .project-external a:hover {
        text-decoration: underline;
    }
}

@media (hover:none) {
    .project-external a:hover {
        text-decoration: none;
    }
}

@media only screen and (max-width: 810px) {
    .description {
        flex-direction: column;
    }

    .container {
        margin-top: 20px;
    }

    .container p {
        max-width: 100%;
    }

    .builtWith {
        margin-top: 30px;
    }

    .project-external {
        flex-direction: row;
        gap: 28px;
    }

    .root-project-page {
        padding-inline-end: 0px;
        padding-inline-start: 0px;
    }
}