#projects {
    max-width: 1400px;
    margin: auto;
}

.project {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 5%;
    margin-top: 35px;
    position: relative;
}

.projectText {
    width: 50%;
    font-size: 1.2rem;
}

.projectImg {
    width: 50%;
    cursor: pointer;
}

.projectImg img {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 15px;
}

.title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.title h2 {
    font-weight: 600;
    margin: 0;
}

.bx-right-arrow-alt {
    font-size: 2em;
    opacity: 0;
}

/* Position preview and code links within the card view */
.project .projectLink {
    text-decoration: none;
    color: black;
}

.project .projectLink::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.project .projectImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.externalLinks a {
    text-decoration: none;
    color: black;
    display: block;
    z-index: 1;
    font-weight: 600;
}

.externalLinks {
    display: flex;
    gap: 20px;
}

.bx-link-external {
    margin-left: 5px;
}

@media only screen and (max-width: 1200px) {
    .project {
        flex-direction: column;
        margin-top: 55px;
    }

    .projectText {
        width: 100%;
    }

    .projectImg {
        width: 100%;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 810px) {
    .projectText {
        font-size: .9em;
    }

    .project .bx-right-arrow-alt {
        opacity: 1;
    }
}

@media (hover:hover) {
    .externalLinks a:hover {
        text-decoration: underline;
    }
    .project:hover img {
        filter: brightness(60%);
        transition: all .5s ease;
    }
    
    .project:hover .bx-right-arrow-alt {
        opacity: 1;
        transition: opacity .5s ease-in;
    }
}

@media (hover:none) {
    .project:hover img {
        filter: inherit;
        transition: inherit;
    }
    .project:hover .bx-right-arrow-alt {
        opacity: inherit;
        transition: inherit;
    }
    .externalLinks a:hover {
        text-decoration: inherit;
    }
}