---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col">
        <h1 class="text-5xl font-bold">404</h1>
        <h4 class="text-xl mt-2">Oops! This page could not be found.</h4>
        <p class="text-xs">
            The page you are looking for does not exist. Use the navigation menu
            to go to a page that does.
        </p>
    </div>
</Layout>
