---
import Nav from "../components/Nav.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Portfolio</title>
    </head>
    <body>
        <div class="flex md:flex-row flex-col md:gap-64 md:p-20 p-10">
            <Nav />
            <slot />
        </div>
    </body>
</html>

<!-- <ClientRouter /> -->
